.hm-page-title{margin-top: 0px;}
.hm-fields{background-color: #fff; padding-top: 20px; text-align: center;}
.hm-fields .table{width: 95%; margin: 10px auto; text-align: left;}
.hm-fields .table td b{font-size: 16px;}
.hm-img-list{padding: 0; margin: 10px 0 0 0;}
.hm-img-list li{margin: 0 2px 8px 0; display: inline-block; vertical-align: middle; height: 210px; width: 280px; position: relative;}
.hm-img-list li .img-thumbnail{height: 100%; width:100%;}
.hm-container .alert-warning{padding: 10px;}
