.hm-wrap{
    position: relative;
    margin: 0;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.hm-no-top{
	border-top:none;
    -webkit-border-top-left-radius: 0px;
       -moz-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
}
.no-padding-top{padding-top:0px;}

.hm-wrap .radio{display: inline-block;}
.hm-filter{}
.hm-filter label{font-weight: normal;}
.hm-filter .radio {margin: 0 10px;}
.hm-filter .select {font-size: 15px;}

.hm-room-list{text-align: center;}
.hm-room-list .table-bordered {
    width: 100%;
    margin: 10px auto;
    text-align: left;
}
.hm-action-btn{position: absolute; right: 10px; top: 15px;}
.hm-right-btn{top:-45px; right: 0;}
.hm-thumb{width: 90px; height: 80px; display: inline-block;}
.hm-thumb .img-thumbnail{max-width: 90px; width: 100%; height: 100%}
.hm-thumb-desc{word-wrap: break-word; word-break: break-all; text-overflow: ellipsis; max-width: 350px;}

.hm-room-list .center{vertical-align: middle; text-align: center;}

table.hm-residence-list tr>td{vertical-align: middle;}