.hidden{display: none;}
.padding-right-5{paddng-right: 5px;}
.hm-page-title{margin-top: 0px;}
.hm-inputs-wrap{width: 100%; background-color: #fff;margin: 10px 3px;}
.form-group label input.equipment{line-height: 26px; padding-right: 10px; margin-right: 5px; margin-right: 0px\9; vertical-align:top; vertical-align: middle\9;}
.hm-form-tip{text-align: right; margin-top: 15px; margin-right: 15px; font-size: 12px}
.hm-tag-link a{margin: 5px 5px 0 0px}
.hm-img-list{padding: 0; margin: 10px 0 0 0;}
.hm-img-list li{margin: 0 14px 0px 0; display: inline-block; vertical-align: middle; width: 280px; height: 210px;}
.hm-img-list li .progress{height: 10px; width: 60%; text-align: center; margin-top: 80px; margin-left: 50px;}
.hm-img-list li .btn-group .btn-sm{font-size: 20px; line-height: 0.8; padding: 3px 10px; vertical-align: middle;}
.hm-img-controls .glyphicon {display: block; margin: 5px auto 10px; font-size: 24px;}
.hm-img-tab{margin-top: 10px; margin-left: 3px;}
.hm-img-tab-view{margin-top: 0px; border-top: none; padding-bottom: 20px;}
.hm-img-tab-view li,.hm-img-list li{list-style: none; margin-top: 10px; position: relative; width: 260px; height: 210px; overflow: hidden;}
.hm-img-tab-view li .img-thumbnail,.hm-img-list li .img-thumbnail{height:210px;}
.hm-img-list{padding: 0; margin: 10px 30px;}
.hm-img-list li{position: relative;}
.hm-img-controls{position: absolute; right: 10px; bottom: 25px;}
.hm-img-controls a{opacity: 0.6; background-image: url("../img/halflings.png"); background-repeat: no-repeat;}
.hm-img-controls a:hover{opacity: 1; color: #1687e4;}

.hm-upload-wrap {color: #888; padding: 15px 15px 10px 0}
.hm-up{background-position: -234px -92px;}
.hm-down{background-position: -257px -92px;}
.datepicker .prev,.datepicker .prev:hover{background-image: url("../img/halflings.png"); background-repeat: no-repeat;background-position: -234px -91px;}
.datepicker .next,.datepicker .prev:hover{background-image: url("../img/halflings.png"); background-repeat: no-repeat;background-position: -257px -91px;}
.hm-remove{background-position: -306px 4px;}
.hm-upload-wrap .col-md-2 .btn-lg{margin-left: -8px;}
.hm-upload-wrap p{padding-top: 5px; margin-left: -25px;}
.hm-msg{margin: 10px 0 10px 3px; font-size: 24px;}

.uploadify:hover .uploadify-button{background-position:0px -51px}

/** **/
.hm-inputs-wrap .hm-half-panel{padding-left: 0px; padding-right: 0px;}
.hm-inputs-wrap .hm-half-panel .hm-bordered{background: white;}
.hm-no-bg{background: none;}
.hm-no-bg .hm-form-val{border: none; box-shadow: none; -moz-box-shadow: none;}
.hm-help-step .img-thumbnail{margin-left: 60px;}
.map-container{height: 545px; margin: 10px;}




